body {
  background-color:rgb(49, 49, 49); 
  padding: 0px; 
  margin: 0px; 
  font-family: Tahoma, sans-serif; 
  color: rgb(203, 250, 255); 
  background-size: 75px 75px;
  background-image:
  linear-gradient(to right, rgb(63, 63, 63) 1px, transparent 3px),
  linear-gradient(to bottom, rgb(63, 63, 63) 1px, transparent 3px);
}

h1 {
  position: relative; 
  font-size: 60px; 
  margin: 0; 
  padding-top: 60px;
  padding-bottom: 60px;  
  text-align: center; 
  right: 40px; 
}

p {
  word-break: break-all;
  white-space: normal;
  margin-left: 5%; 
  margin-right: 5%; 
}

#main {
  animation: fadeInAnimation ease 1.5s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}
@keyframes fadeInAnimation {
  0% {
      opacity: 0;
  }
  100% {
      opacity: 1;
   }
}

#topdiv {
  background-size: 75px 75px;
  background-image:
  linear-gradient(to right, rgb(46, 72, 75) 1px, transparent 3px),
  linear-gradient(to bottom, rgb(46, 72, 75) 1px, transparent 3px);
}
#hbottom {
  text-indent: 80px;
}
#bottom-text {
  vertical-align: top;
}

#moviesvg {
  transition: all 1s ease; 
}
#moviesvg:hover {
  transform: rotate(1turn);
}

#score {
  position: absolute;  
  top: -20px; 
  left: 65px; 
  text-align: center; 
  color: rgb(46, 72, 75); 
  font-weight: bold; 
  font-size: 275px; 
}
.anim {
  animation: 0.5s anim; 
}
@keyframes anim {
  0%   {color: rgb(46, 72, 75); }
  50%  {color: rgb(203, 250, 255); }
  100% {color: rgb(46, 72, 75); }
}

#gamediv {
  max-width: 100%; 
  display: flex; 
  flex-direction: row; 
  text-align: center;
  margin: 120px 5% 0 5%; 
}

#VSdiv {
  margin: 0 3% 0 3%; 
  font-size: 45px; 
  font-weight: bold; 
  display: inline-block;
  height: 500px; 
  flex-basis: 15%; 
}
#VStext {
  margin-top: 220px; 
}

.cover-title {
  font-weight: bold; 
  font-size: 30px; 
}
.option-box-active {
  background-color: rgb(49, 49, 49); 
  border:rgba(203, 250, 255, 0.664) solid 3px; 
  color: rgba(203, 250, 255, 0.664); 
  display: inline-block;
  min-height: 550px; 
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
  flex-basis: 100%; 
}
.option-box-contest {
  background-color: rgb(49, 49, 49); 
  border:#fff6b3a4 solid 3px; 
  color: #fff6b3a4; 
  display: inline-block;
  min-height: 550px; 
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
  flex-basis: 100%; 
}
.option-box-active:hover {
  cursor: pointer;
  animation-name: box-active-anim; 
  animation-timing-function: ease;
  animation-duration: 0.33s; 
  animation-fill-mode: forwards;
}
@keyframes box-active-anim {
  0% {
    background-color: rgb(49, 49, 49); 
    border:rgba(203, 250, 255, 0.664) solid 3px; 
    color: rgba(203, 250, 255, 0.664); 
  }
  100% {
    background-color: rgb(71, 71, 71); 
    border:rgb(203, 250, 255) solid 3px; 
    color: rgb(203, 250, 255); 
  }
}
.option-box-active:hover > .cover-active {
  animation-name: cover-anim-open; 
  animation-timing-function: ease;
  animation-duration: 0.33s; 
  animation-fill-mode: forwards;
}

.option-box-contest:hover {
  cursor: pointer;
  animation-name: box-contest-anim; 
  animation-timing-function: ease;
  animation-duration: 0.33s; 
  animation-fill-mode: forwards;
}
@keyframes box-contest-anim {
  0% {
    background-color: rgb(49, 49, 49); 
    border:#fff6b3a4 solid 3px; 
    color: #fff6b3a4; 
  }
  100% {
    background-color: rgb(71, 71, 71); 
    border:#fff6b3 solid 3px; 
    color: #fff7ba;  
  }
}
.option-box-contest:hover > .cover-contest {
  animation-name: cover-anim-open; 
  animation-timing-function: ease;
  animation-duration: 0.33s; 
  animation-fill-mode: forwards;
}

.cover-active {
  height: 300px; 
  max-width: 90%; 
  opacity: 0.7; 
  padding: 15px; 
  border:rgba(203, 250, 255, 0.664) solid 3px; 
}
.cover-contest {
  height: 300px; 
  max-width: 90%; 
  opacity: 0.7; 
  padding: 15px; 
  border:#fff6b3a4 solid 3px; 
}
@keyframes cover-anim-open {
  0% {
    padding: 15px; 
    opacity: 0.7; 
  }
  100% {
    padding: 5px; 
    opacity: 1; 
  }
}

.menu {
  background-color: rgb(49, 49, 49); 
  border:rgba(203, 250, 255, 0.664) solid 3px; 
  color: rgba(203, 250, 255, 0.664); 
  margin: 50px; 
  text-align: center; 
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}
.high-score {
  border:#fff6b3a4 solid 3px; 
  color: #fff7ba;  
  margin: 50px 200px 40px 200px; 
}
.scr-text {
  border-bottom: #fff6b3a4 solid 3px; 
  padding-bottom: 20px; 
}
.scr {
  font-size: 40px; 
  font-weight: bold; 
  border-left: #fff6b3a4 solid 3px; 
  border-right: #fff6b3a4 solid 3px; 
}

.play-btn {
  margin: 40px 30px 50px 30px; 
  padding: 40px 120px; 
  border:rgba(203, 250, 255, 0.664) solid 3px; 
  background-color: rgb(49, 49, 49); 
  color:rgba(203, 250, 255, 0.664); 
  font-weight: bold; 
  font-size: 60px; 
}
.play-btn:hover {
  cursor: pointer;
  animation-name: play-btn-anim; 
  animation-timing-function: ease;
  animation-duration: 0.33s; 
  animation-fill-mode: forwards;
}
@keyframes play-btn-anim {
  0% {
    border:rgba(203, 250, 255, 0.664) solid 3px; 
    background-color: rgb(49, 49, 49); 
    color:rgba(203, 250, 255, 0.664); 
    padding: 40px 120px; 
  }
  100% {
    border:rgb(203, 250, 255) solid 3px; 
    background-color: rgb(71, 71, 71); 
    color:rgb(203, 250, 255); 
    padding: 40px 60px; 
  }
}
.play-btn:hover > .play-text {
  animation-name: play-text-anim; 
  animation-timing-function: ease;
  animation-duration: 0.33s; 
  animation-fill-mode: forwards;
}
.play-text {
  border:rgba(203, 250, 255, 0.664) solid 3px; 
  padding: 60px; 
}
@keyframes play-text-anim {
  0% {padding: 60px; }
  100% {padding: 20px; }
}